body{
    font-family: "Montserrat Medium";
    margin:0;
    padding: 0;
    font-size: 35px;
}
/*divisão*/

.split{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.split_index{
    background-color: #fef9ef;
}

.split_about{
    background-color: #facfad;
    margin-top: -1%;
}
.split_work{
    background-color: #f8bd7f;
    margin-top: -1%;
}

.split_contact{
    background-color: #022f40;
    margin-top: -1%;
}


/*titulos*/

h1{
    margin: 5vw 15vw;
}

#Ab{
    color: #fef9ef;
   /* color: white;*/
}

#Wk{
    color: #022f40;
    /* color: white;*/
}

#Ct{
    color: #f8bd7f;
    /* color: white;*/
}

/*menu*/

ul {
    list-style-type: none;
    margin-top: 10px;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

li{
    display: inline-block;

}

a  {
    display: inline-block;
    color: #022f40;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    position: sticky;
}

/*texto e iamgem intro*/

.box {
    margin: 5vw 15vw;
    border: none;
    width: 70%;
}

#img_index{
    width: 404px;
    height: 508px;
    float: right;
    margin-top: 0.5%;

}
#intro{
    float: left;
    font-size: 50px;
    color: #022f40;
    margin-top: 5%;
}

/*imagem e texto about*/

.box2 {
    margin: 5vw 13vw;
    border: none;
    width: 72%;
}

#img_about{
    width: 488px;
    height: 688px;
    float: left;
}

#about{
    float: right;
    margin-top: 0px;
    font-size: 25px;
    color: #022f40;
}

/*imagem works*/

.box3 {
    margin: 5vw 35vw;
    border: none;
    width: 30%;
}

#img_works{
    width: 447px;
    height: 552px;
    margin-left: auto;
    margin-right: auto ;
    display: block;
    margin-top: -15%;
    margin-bottom: 25%;

}

/*imagem e texto contacts*/

.box4 {
    margin: 5vw 13vw;
    border: none;
    width: 65%;
}

#img_contact{
    width: 447px;
    height: 552px;
    float: left;
}

#contact{
    color: #f8bd7f;
    font-size: 25px;
    float: right;
    margin-top: 15%;

}
#nome_insta{
    color: #f8bd7f;
    font-size: 25px;
}
#nome_link{
    color: #f8bd7f;
    font-size: 25px;
}
#nome_beh{
    color: #f8bd7f;
    font-size: 25px;
}



/*------------------------------------------Grid------------------------------------------*/
/*Valores grelha*/
.grid {
    width: 100%;
    /*padding: 2%;*/
    margin: 0 auto;
    text-align: center;
    margin-top: 25vh;
}
.grid * {
    box-sizing: border-box;
}
.row {
    min-height: 15px;
    clear: both;
}
[class*='col'] {
    float: left;
    min-height: 10px;
}
[class*='col']:first-child {
    margin-left: 0;
}

/*Valores Desktop*/
@media screen and (min-width: 980px) {
    [class*='col-d'] {
        margin-left: 2%;
        /* calc(22%/11); */
        width: calc((78% - (11 * 2%)) / 12);
    }
    [class*='col-d']:first-child {
        margin-left: 0;
    }
    .col-d-1 {
        width: calc((78% / 12) * 1 + 2% * 0);
    }
    .col-d-2 {
        width: calc((78% / 12) * 2 + 2% * 1);
    }
    .col-d-3 {
        width: calc((78% / 12) * 3 + 2% * 2);
    }
    .col-d-4 {
        width: calc((78% / 12) * 4 + 2% * 3);
    }
    .col-d-5 {
        width: calc((78% / 12) * 5 + 2% * 4);
    }
    .col-d-6 {
        width: calc((78% / 12) * 6 + 2% * 5);
    }
    .col-d-7 {
        width: calc((78% / 12) * 7 + 2% * 6);
    }
    .col-d-8 {
        width: calc((78% / 12) * 8 + 2% * 7);
    }
    .col-d-9 {
        width: calc((78% / 12) * 9 + 2% * 8);
    }
    .col-d-10 {
        width: calc((78% / 12) * 10 + 2% * 9);
    }
    .col-d-11 {
        width: calc((78% / 12) * 11 + 2% * 10);
    }
    .col-d-12 {
        width: calc((78% / 12) * 12 + 2% * 11);
    }
    /*linhas de separação*/
    .grid [class*='col']:empty {
        height: 50px;
    }
}

